*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button{
    user-select: none;
}

.container{
    box-shadow: 0 0 10px 0;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container img{
    width: 600px;
    border-radius: 12px;
}

.cBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(143, 141, 141, 0.532);
    padding: 20px;
    border-radius: 12px;
}

.cBox textarea{
    height: 65px;
    resize: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.cBox button{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    font-size: 18px;
}

.cBox button:hover{
    cursor: pointer;
    background-color: rgb(238, 238, 38);
}

.comments{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
    scrollbar-color: gray white;
    scrollbar-width: thin;
}

.c-info{
    background-color: white;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.comment-h{
    display: flex;
    justify-content: space-between;
} 

.comment-h label{
    position: relative;
}

.userN{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.userN img{
    height: 25px;
    width: 25px;
}

.menu-comment img{
    width: 30px;
    height: 20px;
}

.menu-comment input{
    display: none;
}

.menu-comment img:hover{
    cursor: pointer;
}

.menu-comment ul{
    visibility: hidden;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 100%;
    border-radius: 5px;
    border: solid 1px rgb(192, 190, 190);
}

.menu-comment ul li{
    padding: 5px;
}

.menu-comment ul li:hover{
    background-color: rgb(192, 190, 190);
    cursor: pointer;
}

.menu-comment hr{
    height: 1px;
    color: black;
}

.be{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: rgba(128, 128, 128, 0.497);
}

.c-info h3{
    color: rgba(128, 128, 128, 0.497);
}

.comment{
    /* background-color: rgba(128, 128, 128, 0.475); */
    width: 525px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.comment h3{
    color: gray;
}

.comment p{
    font-size: 15px;
}

.comment-r{
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 470px;
    display: flex;
    padding: 8px;
    gap: 10px;
    border-radius: 15px;
    display: none;
}


.icons-c{
    display: flex;
    gap: 15px;
    padding: 5px;
}

.icons-c img{
    width: 30px;
    height: 20px;
}

.icons-c img:hover{
    cursor: pointer;
}

.icons-c input{
    display: none;
}